@font-face {
  font-family: RifficFreeBold;
  src: url(../fonts/RifficFree-Bold.ttf);
}
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-size: 20px;
  font-family: RifficFreeBold;
}

main {
  min-height: 80vh;
}

body {
  background-image: url(../imgs/maderaNegraFondo.jpg);
}

@font-face {
  font-family: RifficFreeBold;
  src: url(../fonts/RifficFree-Bold.ttf);
}
@font-face {
  font-family: mexicana;
  src: url(../fonts/Mexicana.ttf);
}
@font-face {
  font-family: mexicanhollow;
  src: url(../fonts/MexicanaHollow.ttf);
}
footer {
  background-color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  font-family: rifficFreeBold;
  color: aliceblue;
}
footer p {
  font-size: 30px;
  background-color: rgba(243, 6, 6, 0.8);
  border-radius: 50px;
  margin-bottom: 0px;
}

footer nav li {
  list-style: none;
  text-decoration: none;
  display: inline-flex;
  margin: 20px;
}

.socialLink nav li a {
  list-style: none;
  text-decoration: none;
  color: aliceblue;
}
.socialLink nav ul li svg {
  width: 50px;
  height: 50px;
}

header nav {
  background-color: rgb(0, 0, 0);
  display: flex;
  padding: 4px;
}
header nav li {
  padding: 5px;
  display: inline-flex;
  margin-top: 10px;
  justify-content: center;
  background-color: rgba(243, 6, 6, 0.8);
  border-radius: 50px;
}
header nav li a {
  font-family: rifficFreeBold;
  list-style: none;
  text-decoration: none;
  padding: 5px;
  color: rgb(240, 248, 255);
}

.cajaTitulo {
  background-color: rgb(0, 0, 0);
  margin-top: 10px;
}

h1 {
  background-color: rgba(243, 6, 6, 0.8);
  color: rgb(240, 248, 255);
  border-radius: 50px;
}

h2, h3 {
  background-color: bisque;
}

.mainContactos {
  justify-content: center;
}

.form-control:focus {
  box-shadow: 1px 5px rgba(243, 6, 6, 0.8);
}

.botonForm {
  background-color: rgb(243, 6, 6);
}
.botonForm:hover {
  box-shadow: 4px 1px 0 #000000;
  background-color: rgb(243, 6, 6);
}

.quienesSomos p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cardItem {
  width: 18rem;
  display: inline-flex;
  flex-wrap: wrap;
}

.flexItemCorte {
  display: inline-flex;
  background-color: rgb(13, 189, 7);
  color: #fff;
  margin: 10px;
  border-radius: 50px;
  justify-content: space-evenly;
}
.flexItemCorte :hover {
  transform-origin: left;
  transition-duration: 0.9s;
  border: dashed rgb(128, 45, 45) 5px;
}
.flexItemCorte a {
  list-style: none;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 35px;
  color: #fff;
  text-align: center;
  border-radius: 50px;
  padding: 10px;
  border: 5px rgb(13, 189, 7) solid;
}

h5 {
  justify-content: right;
  padding: 5px;
  text-align: center;
  background-color: rgb(207, 152, 85);
  border: dotted 1px;
}

.cajaDeRecetasCompletas {
  display: flex;
  flex-wrap: wrap;
}

.flexReceta {
  margin: 5px;
  background-color: rgb(207, 152, 85);
  border-radius: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: grid;
  grid-template-areas: "recetaTitulo recetaTitulo" "recetaAviso recetaAviso" "ingredientes flexReceta__img" "preparacion preparacion";
}

.form-check ul li {
  list-style: none;
  text-decoration: none;
}

.flexReceta__titulo {
  grid-area: recetaTitulo;
  font-size: 30px;
}
.flexReceta__titulo:hover {
  text-decoration-line: underline;
}

.flexReceta__aviso {
  grid-area: recetaAviso;
  font-size: 30px;
  font-family: mexicana;
}

.flexReceta__ingredientes {
  grid-area: ingredientes;
}

.flexReceta__preparacion {
  grid-area: preparacion;
}

.flexReceta__img {
  grid-area: flexReceta__img;
  display: flex;
  justify-content: center;
}
.flexReceta__img img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.form-control:focus {
  box-shadow: 1px 4px rgb(13, 189, 7);
}

@media (max-width: 768px) {
  .flexReceta {
    grid-template-areas: "recetaTitulo" "recetaAviso" "ingredientes" "preparacion" "flexReceta__img";
  }
  .flexReceta__img {
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
